<div class="headline-container">
    <img class="background" src="<!--image:publicPath->images/background.jpeg"></img>
</div>
<div class="information-container">
    <span><?php echo "hello world" ?></span>
</div>
<div class="button-container">
    <div id="share" class="share">
        <button class="button to_facebook" ga-category="sns-button" ga-label="facebook">
          <img src="<!--image:publicPath->images/share/facebook.png">
        </button>
        <button class="button to_LINE" ga-category="sns-button" ga-label="line">
          <img src="<!--image:publicPath->images/share/line.png">
        </button>
        <button class="button to_twitter" ga-category="sns-button" ga-label="twitter">
          <img src="<!--image:publicPath->images/share/twitter.png">
        </button>
    </div>
</div>