<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Hello Webpack</title>
  <meta name="description" content="">
  <meta property="og:site_name" content="" />
  <meta property="og:url" content="" />
  <meta property="og:title" content="" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:title" content="" />
  <meta property="twitter:site" content="" />
  <meta property="twitter:description" content="" />
  <meta property="twitter:image" content="" />
</head>

<body>
  <div class="wrap">
    <!-- html:test-code-start -->
    <div class="headline-container">
      <img class="background" src="<!--image:publicPath->images/background.jpeg"></img>
    </div>
    <div class="information-container">
      <span>Welcome</span>
    </div>
    <div class="button-container">
      <div id="share" class="share">
        <button class="button to_facebook" ga-category="sns-button" ga-label="facebook">
          <img src="<!--image:publicPath->images/share/facebook.png">
        </button>
        <button class="button to_LINE" ga-category="sns-button" ga-label="line">
          <img src="<!--image:publicPath->images/share/line.png">
        </button>
        <button class="button to_twitter" ga-category="sns-button" ga-label="twitter">
          <img src="<!--image:publicPath->images/share/twitter.png">
        </button>
      </div>
    </div>
    <!-- html:test-code-end -->
    <!-- replace as php template -->
    <!--### <?php include content.php.html ?> ###-->
  </div>
</body>
</html>